.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: auto;
  padding-top: 2rem;
  width: 50rem;
  max-width: 50rem;

  .inputs {
    display: flex;
    flex-direction: column;
    width: 44rem;

    label {
      font-weight: 700;
      padding: 1rem 0 1rem 0;
    }

    input {
      border-radius: 0.4rem;
      height: 3.7rem;
      outline: 0;

      &:focus {
        border: 0.2rem solid #b039bf;
      }
    }

    .alert-token {
      color: red;
    }
  }

  .div-button {
    display: flex;
    justify-content: end;
    padding-top: 4rem;
    width: 44rem;
    max-width: 50rem;

    &.edit {
      justify-content: space-between;
    }

    .button-save {
      background-color: #b039bf;
      border: none;
      border-radius: 0.4rem;
      color: #ffff;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 600;
      width: 12rem;
      height: 3.7rem;

      &:active {
        background-color: #ad4bb9;
      }

      &:disabled {
        opacity: 0.8;
      }
    }

    .button-remove {
      background-color: #920000;
      border: none;
      border-radius: 0.4rem;
      color: #ffff;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 600;
      width: 12rem;
      height: 3.7rem;

      &:active {
        background-color: #811616;
      }
    }
  }
}
