main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .bar-wallet {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    width: 46rem;
    max-width: 46rem;
  }

  .add-token-button {
    background-color: #b039bf;
    border: none;
    border-radius: 0.4rem;
    color: #ffff;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    width: 12rem;
    height: 3.7rem;

    &:active {
      background-color: #ad4bb9;
    }
  }
}
