.form-addToken {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: auto;
  padding-top: 2rem;
  width: 46rem;
  max-width: 46rem;

  .inputs {
    display: flex;
    flex-direction: column;
    width: 40rem;

    label {
      font-weight: 700;
      padding: 1rem 0 1rem 0;
    }

    input {
      border-radius: 0.4rem;
      height: 3.7rem;
    }

    .alert-token {
      color: red;
    }
  }

  .div-button {
    display: flex;
    justify-content: end;
    padding-top: 4rem;

    .button-save {
      background-color: #b039bf;
      border: none;
      border-radius: 0.4rem;
      color: #ffff;
      font-size: 1.6rem;
      font-weight: 600;
      width: 12rem;
      height: 3.7rem;
    }
  }
}
