table {
  border-collapse: separate;
  margin: auto;
  padding-top: 4rem;
  max-width: 45.8rem;
  width: 46rem;
  thead tr {
    .thead-token {
      padding-left: 4rem;
      text-align: left;
      font-size: 1.8rem;
    }

    .thead-balance {
      text-align: right;
      font-size: 1.8rem;
    }
  }
}
