table {
  border-collapse: separate;
  margin: auto;
  padding-top: 4rem;
  max-width: 46rem;
  width: 46rem;

  thead tr {
    .th-icons {
      width: 3rem;
    }

    .th-token {
      text-align: left;
      font-size: 1.8rem;
      font-weight: 900;
    }

    .th-balance {
      text-align: right;
      font-size: 1.8rem;
      font-weight: 900;
    }
  }

  tbody tr {
    font-size: 2em;

    td .icon {
      font-size: 1.6rem;
      width: auto;
    }

    .td-token {
      text-align: left;
      padding: 1rem 0 1rem 0;
      font-weight: 900;
    }

    .td-balance {
      text-align: right;
      font-weight: 900;
    }
  }
}

@media screen {
  @media (max-width: 880px) {
    table {
      max-width: 50rem;
      width: 50rem;
      font-size: 2rem;

      thead tr {
        .th-token {
          font-size: 2.4rem;
        }

        .th-balance {
          font-size: 2.4rem;
        }
      }
      tbody tr {
        .td-token,
        .td-balance {
          font-size: 3.6rem;
        }
      }
    }
  }

  // @media (max-width: 470px) {
  //   table {
  //     max-width: 40rem;
  //     width: 40rem;
  //   }
  // }

  // @media (max-width: 375px) {
  //   table {
  //     max-width: 35rem;
  //     width: 35rem;
  //   }
  // }

  // @media (max-width: 320px) {
  //   table {
  //     max-width: 30rem;
  //     width: 30rem;
  //   }
  // }
}
